In [1]:
# Loading Necessary Packages
import pandas as pd
import requests, shutil
import os
import time

In [2]:
#Data Load
cloth_cate = pd.read_csv("./Data/list_category_cloth.txt",delimiter = "\t", header=0,error_bad_lines=False)
train_set = pd.read_csv("./Data/train.txt",delimiter = "\t",header = None)
train_bb = pd.read_csv("./Data/train_bbox.txt",header = None)
train_cate = pd.read_csv("./Data/train_cate.txt",header = None, names=['category_type_num'])
categories = pd.read_csv("./Data/category.csv")
test_set = pd.read_csv("./Data/test.txt",delimiter = "\t",header = None)
test_bb = pd.read_csv("./Data/test_bbox.txt",header = None)
test_cate = pd.read_csv("./Data/test_cate.txt",header = None, names=['category_type_num'])

In [6]:
#Segmenting the category
cloth_category = list(cloth_cate['category_name  category_type'].map(lambda x: str(x)[:-1]).str.strip())
cloth_category = { cloth_category.index(i)+1 :  i for i in cloth_category }
train_cate['Values']=train_cate['category_type_num'].map(cloth_category)
test_cate['Values']=test_cate['category_type_num'].map(cloth_category)
categories_list = categories.apply(lambda x: x.dropna().tolist()).tolist()
# Filter data with regx
Shorts = '|'.join(categories_list[0])
Pants =  '|'.join(categories_list[1])
Mixed = '|'.join(categories_list[2])
Tops = '|'.join(categories_list[3])
Jackets = '|'.join(categories_list[4])
Jumpsuit = '|'.join(categories_list[5])
Bottom = '|'.join(categories_list[6])
Hoodie = '|'.join(categories_list[7])
Cloak = '|'.join(categories_list[8])
Dress = '|'.join(categories_list[9])
# Generalized category assignment
train_cate.loc[train_cate['Values'].str.contains(Shorts),"category_type"] = "Shorts"
train_cate.loc[train_cate['Values'].str.contains(Pants),"category_type"] = "Pants"
train_cate.loc[train_cate['Values'].str.contains(Tops),"category_type"] = "Tops"
train_cate.loc[train_cate['Values'].str.contains(Jackets),"category_type"] = "Jackets"
train_cate.loc[train_cate['Values'].str.contains(Bottom),"category_type"] = "Bottom"
train_cate.loc[train_cate['Values'].str.contains(Jumpsuit),"category_type"] = "Jumpsuit"
train_cate.loc[train_cate['Values'].str.contains(Hoodie),"category_type"] = "Hoodie"
train_cate.loc[train_cate['Values'].str.contains(Cloak),"category_type"] = "Cloak"
train_cate.loc[train_cate['Values'].str.contains(Dress),"category_type"] = "Dress"
test_cate.loc[test_cate['Values'].str.contains(Shorts),"category_type"] = "Shorts"
test_cate.loc[test_cate['Values'].str.contains(Pants),"category_type"] = "Pants"
test_cate.loc[test_cate['Values'].str.contains(Tops),"category_type"] = "Tops"
test_cate.loc[test_cate['Values'].str.contains(Jackets),"category_type"] = "Jackets"
test_cate.loc[test_cate['Values'].str.contains(Bottom),"category_type"] = "Bottom"
test_cate.loc[test_cate['Values'].str.contains(Jumpsuit),"category_type"] = "Jumpsuit"
test_cate.loc[test_cate['Values'].str.contains(Hoodie),"category_type"] = "Hoodie"
test_cate.loc[test_cate['Values'].str.contains(Cloak),"category_type"] = "Cloak"
test_cate.loc[test_cate['Values'].str.contains(Dress),"category_type"] = "Dress"

In [7]:
#Making copy of the files 
train_data = train_cate.copy()
test_data = test_cate.copy()
train_data['images_loc']=train_set
train_data['bounding_box'] = train_bb
test_data['images_loc']=test_set
test_data['bounding_box'] = test_bb

In [ ]:
#Sampling of data
sample_data = train_data[train_data['Values'].str.contains(Bottom)].copy()
sample_data = sample_data.append(train_data[train_data['Values'] == 'Tee'].sample(frac=0.10))
sample_data = sample_data.append(train_data[train_data['category_type'] == 'Shorts'].sample(frac=0.19))
sample_data = sample_data.append(train_data[train_data['category_type'] == 'Pants'].sample(frac=0.18))
sample_data = sample_data.append(train_data[train_data['category_type'] == 'Dress'].sample(frac=0.20))

In [ ]:
#Saving the data to csv
sample_data.to_csv("sample_train.csv", index=False)

In [8]:
sample_data = pd.read_csv("./sample_test.csv")
sample_data.head()

,category_type_num,Values,category_type,images_loc,bounding_box
0,41,Dress,Dress,img/Floral_Print_Shirt_Dress/img_00000065.jpg,024 056 151 299
1,41,Dress,Dress,img/Butterfly_Sleeve_Sheath_Dress/img_00000034...,032 034 150 300
2,16,Sweater,Tops,img/Marled_Crochet-Back_Sweater/img_00000038.jpg,042 055 174 281
3,36,Trunks,Shorts,img/Sunburst_Print_Swim_Trunks/img_00000008.jpg,061 163 174 229
4,3,Blouse,Tops,img/Collared_Surplice_Blouse/img_00000022.jpg,048 072 173 168

In [5]:
sample_data['images_loc'].to_csv('train_set.txt', header=None, sep = ' ', index=False)

In [8]:
test_data

,category_type_num,Values,category_type,images_loc,bounding_box
0,41,Dress,Dress,img/Floral_Print_Shirt_Dress/img_00000065.jpg,024 056 151 299
1,41,Dress,Dress,img/Butterfly_Sleeve_Sheath_Dress/img_00000034...,032 034 150 300
2,16,Sweater,Tops,img/Marled_Crochet-Back_Sweater/img_00000038.jpg,042 055 174 281
3,36,Trunks,Shorts,img/Sunburst_Print_Swim_Trunks/img_00000008.jpg,061 163 174 229
4,3,Blouse,Tops,img/Collared_Surplice_Blouse/img_00000022.jpg,048 072 173 168
...,...,...,...,...,...
3995,6,Cardigan,Jackets,img/Rose_Print_Cardigan/img_00000024.jpg,001 065 199 272
3996,42,Jumpsuit,Jumpsuit,img/Tile_Print_Jumpsuit/img_00000013.jpg,083 025 154 281
3997,17,Tank,Tops,img/Side_Vent_Heathered_Tank/img_00000006.jpg,082 060 207 247
3998,17,Tank,Tops,img/Heathered_Curved-Hem_Tank/img_00000014.jpg,048 079 155 264
3999,26,Jeans,Pants,img/High-Waisted_Skinny_Jeans/img_00000013.jpg,068 093 126 283

In [9]:
test_data.to_csv("sample_test.csv", index=False)

In [5]:
sample_data['category_type'].unique()

array(['Bottom', 'Jumpsuit', 'Hoodie', 'Cloak', 'Shorts', 'Pants',
       'Jackets', 'Dress', 'Tops'], dtype=object)

In [9]:
Lower ='|'.join(['Bottom','Shorts','Pants'])
Upper = '|'.join(['Hoodie','Jackets','Tops'])
Full = '|'.join(['Jumpsuit','Cloak','Dress'])
sample_data.loc[sample_data['category_type'].str.contains(Lower),"category_type1"] = "Lower"
sample_data.loc[sample_data['category_type'].str.contains(Upper),"category_type1"] = "Upper"
sample_data.loc[sample_data['category_type'].str.contains(Full),"category_type1"] = "Full"
sample_data.head()

,category_type_num,Values,category_type,images_loc,bounding_box,category_type1
0,41,Dress,Dress,img/Floral_Print_Shirt_Dress/img_00000065.jpg,024 056 151 299,Full
1,41,Dress,Dress,img/Butterfly_Sleeve_Sheath_Dress/img_00000034...,032 034 150 300,Full
2,16,Sweater,Tops,img/Marled_Crochet-Back_Sweater/img_00000038.jpg,042 055 174 281,Upper
3,36,Trunks,Shorts,img/Sunburst_Print_Swim_Trunks/img_00000008.jpg,061 163 174 229,Lower
4,3,Blouse,Tops,img/Collared_Surplice_Blouse/img_00000022.jpg,048 072 173 168,Upper

In [10]:
sample_data.to_csv("sample_test.csv", index=False)

In [11]:
sample_data['category_type1'].unique()

array(['Full', 'Upper', 'Lower'], dtype=object)