In [1]:
#Load the Yolo results on the Flipkart Dataset
import pandas as pd
flipkart = pd.read_csv("./flipkart_results.csv")
flipkart.head()

,frame_id,filename,objects,category,pred_cat,pred_con
0,1,Data/Flipkart/Shorts/CRGE5D38Y762HXPE_1.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9927429999999999]
1,2,Data/Flipkart/Shorts/SRTEJHAAV5MH3GFM.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9969699999999999]
2,3,Data/Flipkart/Shorts/SRTEGWKHXHCF2TME.jpg,[],Shorts,[],[]
3,4,Data/Flipkart/Shorts/SRTEGWKMWDED9GFW_4.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.425807]
4,5,Data/Flipkart/Shorts/SRTEGWKHGMNG3WRJ_3.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.900206]

In [2]:
#Generalize the categories
Lower ='|'.join(['Bottom','Shorts','Pants'])
Upper = '|'.join(['Hoodie','Jackets','Tops'])
Full = '|'.join(['Jumpsuit','Cloak','Dress'])
flipkart.loc[flipkart['category'].str.contains(Lower),"actual_cat"] = "Lower"
flipkart.loc[flipkart['category'].str.contains(Upper),"actual_cat"] = "Upper"
flipkart.loc[flipkart['category'].str.contains(Full),"actual_cat"] = "Full"
flipkart.head()

,frame_id,filename,objects,category,pred_cat,pred_con,actual_cat
0,1,Data/Flipkart/Shorts/CRGE5D38Y762HXPE_1.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9927429999999999],Lower
1,2,Data/Flipkart/Shorts/SRTEJHAAV5MH3GFM.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9969699999999999],Lower
2,3,Data/Flipkart/Shorts/SRTEGWKHXHCF2TME.jpg,[],Shorts,[],[],Lower
3,4,Data/Flipkart/Shorts/SRTEGWKMWDED9GFW_4.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.425807],Lower
4,5,Data/Flipkart/Shorts/SRTEGWKHGMNG3WRJ_3.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.900206],Lower

In [3]:
flipkart['category'].unique()

array(['Shorts', 'Jackets', 'Jumpsuit', 'Pants', 'Bottom', 'Mixed',
       'Tops', 'Hoodie'], dtype=object)

In [4]:
#Setting the logic to get the images whose object detection score is greater than 0.70
def category_value(x,y):
    ls = x.strip('[]').replace("'","").split(', ')
    y = y.strip('[]').replace("'","").split(', ')  
    y = [float(i) for i in y if i != ""]
    if len(set(ls)) == 1:
        return list(set(ls))[0]
    else:
        gt_seven = sum(map(lambda a: a >= 0.70, y))
        if gt_seven == 1:   
            for i,cat in enumerate(ls):
                if y[i] > 0.70:
                    return cat
                else:
                    return "none"
        else:
            maxies = max(y)
            if maxies >= 0.70:
                ind = y.index(maxies)
                return ls[ind]
            else:
                return "none"
flipkart['pred_cat1']=flipkart.apply(lambda x: category_value(x['pred_cat'],x['pred_con']) , axis=1)
'''
def category_value(x,y):
    ls = x.strip('[]').replace("'","").split(', ')
    y = y.strip('[]').replace("'","").split(', ')  
    y = [float(i) for i in y if i != ""]
    if len(set(ls)) == 1:
        return list(set(ls))[0]
    else:
        maxies = max(y)
        ind = y.index(maxies)
        return ls[ind]
flipkart['pred_cat1']=flipkart.apply(lambda x: category_value(x['pred_cat'],x['pred_con']) , axis=1)
'''

In [6]:
#flipkart[flipkart['pred_cat1']==""]['pred_cat1'] = "none"
flipkart.loc[flipkart['pred_cat1']=="","pred_cat1"] = "none"

In [7]:
flipkart

,frame_id,filename,objects,category,pred_cat,pred_con,actual_cat,pred_cat1
0,1,Data/Flipkart/Shorts/CRGE5D38Y762HXPE_1.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9927429999999999],Lower,Lower
1,2,Data/Flipkart/Shorts/SRTEJHAAV5MH3GFM.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9969699999999999],Lower,Lower
2,3,Data/Flipkart/Shorts/SRTEGWKHXHCF2TME.jpg,[],Shorts,[],[],Lower,none
3,4,Data/Flipkart/Shorts/SRTEGWKMWDED9GFW_4.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.425807],Lower,Lower
4,5,Data/Flipkart/Shorts/SRTEGWKHGMNG3WRJ_3.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.900206],Lower,Lower
...,...,...,...,...,...,...,...,...
18364,18365,Data/Flipkart/Hoodie/PLOEHFBQFWFBMGYE_3.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Hoodie,['Lower'],[0.505667],Upper,Lower
18365,18366,Data/Flipkart/Hoodie/WCTEHU6FYRC6WWCG_4.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,"['Upper', 'Upper', 'Lower']","[0.627558, 0.445519, 0.525436]",Upper,Upper
18366,18367,Data/Flipkart/Hoodie/PLOEHFBQFWFBMGYE_2.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,['Upper'],[0.992821],Upper,Upper
18367,18368,Data/Flipkart/Hoodie/PLOEHFEWQZHVJFQC_3.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,['Upper'],[0.8598439999999999],Upper,Upper
18368,18369,Data/Flipkart/Hoodie/PLOEHFEWQZHVJFQC_2.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,['Upper'],[0.984556],Upper,Upper

In [8]:
#Encoding the data
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(['Lower', 'Upper', 'Full','none'])

LabelEncoder()

In [9]:
flipkart1 = flipkart[flipkart['category'] != "Mixed"]

In [10]:
le.transform(flipkart1['actual_cat'])

array([1, 1, 1, ..., 2, 2, 2])

In [11]:
flipkart1['act_code'] = le.transform(flipkart1['actual_cat'])
flipkart1['pre_code'] = le.transform(flipkart1['pred_cat1'])

C:\Users\gayat\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\gayat\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
flipkart1["Accuracy"] = flipkart1['act_code'] - flipkart1['pre_code']
flipkart1

C:\Users\gayat\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,frame_id,filename,objects,category,pred_cat,pred_con,actual_cat,pred_cat1,act_code,pre_code,Accuracy
0,1,Data/Flipkart/Shorts/CRGE5D38Y762HXPE_1.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9927429999999999],Lower,Lower,1,1,0
1,2,Data/Flipkart/Shorts/SRTEJHAAV5MH3GFM.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.9969699999999999],Lower,Lower,1,1,0
2,3,Data/Flipkart/Shorts/SRTEGWKHXHCF2TME.jpg,[],Shorts,[],[],Lower,none,1,3,-2
3,4,Data/Flipkart/Shorts/SRTEGWKMWDED9GFW_4.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.425807],Lower,Lower,1,1,0
4,5,Data/Flipkart/Shorts/SRTEGWKHGMNG3WRJ_3.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Shorts,['Lower'],[0.900206],Lower,Lower,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
18364,18365,Data/Flipkart/Hoodie/PLOEHFBQFWFBMGYE_3.jpg,"[{'class_id': 1, 'name': 'Lower', 'relative_co...",Hoodie,['Lower'],[0.505667],Upper,Lower,2,1,1
18365,18366,Data/Flipkart/Hoodie/WCTEHU6FYRC6WWCG_4.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,"['Upper', 'Upper', 'Lower']","[0.627558, 0.445519, 0.525436]",Upper,Upper,2,2,0
18366,18367,Data/Flipkart/Hoodie/PLOEHFBQFWFBMGYE_2.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,['Upper'],[0.992821],Upper,Upper,2,2,0
18367,18368,Data/Flipkart/Hoodie/PLOEHFEWQZHVJFQC_3.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,['Upper'],[0.8598439999999999],Upper,Upper,2,2,0
18368,18369,Data/Flipkart/Hoodie/PLOEHFEWQZHVJFQC_2.jpg,"[{'class_id': 2, 'name': 'Upper', 'relative_co...",Hoodie,['Upper'],[0.984556],Upper,Upper,2,2,0

In [13]:
#True Positives & True Negatives
len(flipkart1[flipkart1["Accuracy"]==0])

14238

In [14]:
Accuracy = (len(flipkart1[flipkart1["Accuracy"]==0])/len(flipkart1['Accuracy']))*100

In [15]:
Accuracy

88.73792458709879

In [16]:
total_upp = len(flipkart1[flipkart1['actual_cat'] == 'Upper'])
total_low = len(flipkart1[flipkart1['actual_cat'] == 'Lower'])
total_ful = len(flipkart1[flipkart1['actual_cat'] == 'Full'])

In [26]:
#Confusion Matrix
true_pos_upper = len(flipkart1[(flipkart1["Accuracy"]==0) & (flipkart1['actual_cat'] == 'Upper')])
true_pos_lower = len(flipkart1[(flipkart1["Accuracy"]==0) & (flipkart1['actual_cat'] == 'Lower')])
true_pos_full = len(flipkart1[(flipkart1["Accuracy"]==0) & (flipkart1['actual_cat'] == 'Full')])

upper_lower = len(flipkart1[(flipkart1["pred_cat1"]=='Lower') & (flipkart1['actual_cat'] == 'Upper')])
upper_full = len(flipkart1[(flipkart1["pred_cat1"]=='Full') & (flipkart1['actual_cat'] == 'Upper')])

lower_upper = len(flipkart1[(flipkart1["pred_cat1"]=='Upper') & (flipkart1['actual_cat'] == 'Lower')])
lower_full = len(flipkart1[(flipkart1["pred_cat1"]=='Full') & (flipkart1['actual_cat'] == 'Lower')])

full_upper = len(flipkart1[(flipkart1["pred_cat1"]=='Upper') & (flipkart1['actual_cat'] == 'Full')])
full_lower = len(flipkart1[(flipkart1["pred_cat1"]=='Lower') & (flipkart1['actual_cat'] == 'Full')])

Upper = ['Upper',true_pos_upper,upper_lower,upper_full]
Lower = ['Lower',lower_upper,true_pos_lower, lower_full]
Full = ['Full',full_upper,full_lower,true_pos_full]

confusion_matrix = pd.DataFrame(columns=['','Upper','Lower','Full'])
confusion_matrix.loc[0]=Upper
confusion_matrix.loc[1]=Lower
confusion_matrix.loc[2]=Full
confusion_matrix=confusion_matrix.set_index('')
confusion_matrix

       Upper Lower Full

Upper  11758  1316   43
Lower     79  2455   12
Full      32    46   25